AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
CDK_DEFAULT_ACCOUNT=000000000000
DEPLOY_STAGE=local
DYNAMODB_TABLE=MiMercadoLocal
LOG_LEVEL=INFO
MINISTACK_IMAGE_TAG=latest
MINISTACK_LOG_LEVEL=INFO
MINISTACK_DOCKER_NETWORK=mercado-serverless
MINISTACK_IP=172.28.0.10
